@charset "utf-8";

/* CSS RESET */
*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration:none;
	font-style: normal;
	list-style-type:none;
	vertical-align:baseline;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
 }

/* Formatação body */
body{    
	background: linear-gradient(45deg, rgb(203, 203, 226), rgb(143, 143, 241));
	font-family: Arial;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Menu topo 8 */
.MenuContaTop{
	position: sticky;
	height:50px;
	background-color:#000;
	color:#FFF;
	
}

.MenuContaTop>ul{
	margin-right:2.5%;	/*Menu CSS Reset */
	padding:0;
	
	}
.MenuContaTop>li{	 
	padding:0;	/*Menu CSS Reset */
	list-style:none;
	}
.MenuContaTop>a{
	margin:0;
	padding:0;	/*Menu CSS Reset */
	text-decoration:none;
	}
.MenuContaTop>ul>li{
	display:inline; /*COloca a lista na horizontal*/	
	margin-left:1%;
}

.MenuContaTop>ul>li>a{						/* Formatação dos links na lista */
	background-color:#FFF;
	color:#000;
	font-weight:bolder;
	text-decoration:none;
	text-transform:uppercase;/* letra maiúscula*/
	padding:3px 20px;
	line-height:50px;

	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
	box-shadow:5px 4px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:5px 4px 4px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow:5px 4px 4px rgba(0, 0, 0, 0.6);
			
    transition:all,0.9S;
	      }

.MenuContaTop>ul>li>a:hover{				
	color:#FFF;
	text-shadow:3px 3px 4px rgba(200, 200, 200, 1);
	font-weight:bolder;
	padding:3px 20px;
	background:-webkit-gradient(linear, 79% 71%, 23% 0%, from(#00BEFF), to(#0091FF));/* cor com degradê*/

	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
	box-shadow:2px 2px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.6);
			
	transition:all,0.5S;
}

/* Banner */

/* Menu Centro */
.MenuCentro{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height:auto;
	background-color:rgba(252, 248, 248, 0.479);
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	/*--- Borda ----*/
	border:1px solid #000;	
	border-radius:5px;/*Compativel com Chrome*/
	-moz-border-radius:5px;/* Compativel com Firefox*/
	-webkit-border-radius:5px;/*Compativel com IE8/9/10/EDGE*/	
	box-shadow:2px 2px 5px rgba(5, 5, 5, 0.7);/*Sobreamento da DIV*/
	-moz-box-shadow:5px 5px 8px rgba(9, 9, 9, 0.7);
	-webkit-box-shadow:5px 5px 8px rgba(9, 9, 9, 0.7);
}

.MenuCentro>ul{
	 margin-top:5px;
	 margin-bottom:5px;
	 /*Menu CSS Reset */
	 padding:0;
	}
.MenuCentro>li{
	
	 padding:0;	/*Menu CSS Reset */
	 list-style:none;
	}
.MenuCentro>a{
	margin-top:0;
	padding:0;	/*Menu CSS Reset */
	text-decoration:none;
	}
.MenuCentro>ul>li{
	display:inline; /*COloca a lista na horizontal*/	
	margin-left:10px;

}

.MenuCentro>ul>li>a{						/* Formatação dos links na lista */
	background-color:rgba(255, 255, 255, 0);
	color:rgb(0, 0, 0);
	text-decoration:none;
	font-weight:bolder;
	text-transform:uppercase;/* letra maiúscula*/
	padding: 1rem 2rem;
	line-height:50px;
	border-radius:8px;

			
    transition:all,0.9S;
	      }

.MenuCentro>ul>li>a:hover{				
	color:#FFF;
	text-shadow:3px 3px 4px rgba(200, 200, 200, 1);
	font-weight:bolder;
	padding:1rem 2rem;
	background:-webkit-gradient(linear, 79% 71%, 23% 0%, from(#00BEFF), to(#0091FF));/* cor com degradê*/

	border-radius:8px;

			
	transition:all,0.5S;
}

/* Produtos */
.Conteudo{
	height:auto;
	background-color:rgba(252, 248, 248, 0.479);
	margin-top: 2%;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 2rem 2rem;
	/*--- Borda ----*/
	border:1px solid #000;	
	border-radius:5px;/*Compativel com Chrome*/
	-moz-border-radius:5px;/* Compativel com Firefox*/
	-webkit-border-radius:5px;/*Compativel com IE8/9/10/EDGE*/	
	box-shadow:2px 2px 5px rgba(5, 5, 5, 0.7);/*Sobreamento da DIV*/
	-moz-box-shadow:5px 5px 8px rgba(9, 9, 9, 0.7);
	-webkit-box-shadow:5px 5px 8px rgba(9, 9, 9, 0.7);
}

.Flex{
	display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}

.Flex div{
	flex: 1 1 200px;
	margin: 10px;
	border:1px solid #000;	
	border-radius:5px;/*Compativel com Chrome*/
}

.Produto{
	display: grid;
	background-color: #FFF;
}

.Produto img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	grid-column: 1;
	grid-row: 1/3;
	align-self: end;
	
}


.Produto form{
	display: grid;
	background-color: rgba(0, 0, 0, 0.7);
	color: #FFF;
	padding: 5px;
	grid-column: 1;
	grid-row: 2;
}

/* Acesso - Login & Cadastro*/
.Acesso{
	background: linear-gradient(45deg, rgb(126, 126, 189), #339);
	background-repeat: no-repeat;
	min-height: 100vh;
	min-width: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Formulario{
	background:rgba(200, 200, 200, 1);
	max-width: 350px;
	min-height: 40vh;
	padding: 3rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}

.Formulario form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Formulario form div{
	font-size: 1.1rem;
	margin-top: 1rem;

}

.Formulario form input{
	padding: 0.4rem;
	background:#dadfe4;
	border: 2px;
	border-color: #000;
	border-radius: 5px;
	border-style: solid;
}

.Formulario form input[type="submit"]{
	margin-top: 2rem;
	padding: 0.4rem;
	background:#0091FF;
}

.Formulario2{
	display: inline;
	
}

/* Painel */
.Painel{
	height: auto;
	width: 80%;
	margin: 3% 10%;
	padding: 3% 1%;
	background-color:rgba(255, 255, 255, 0.61);
	border-radius: 10px;
	border: #000;
	box-shadow: 5px 5px 8px rgba(9, 9, 9, 0.7);

}

.Painel h2{
	margin-top: 3%;
	margin-bottom: 3%;
}

.Painel div{
	margin: 3% 2%;
	padding: 2% 2%;
}

.Painel ul{

}


/*Barra de pesquisa */
.SearchBar{
	display: inline;
	margin: 1rem 3rem;
}

.SearchBar input{
	align-items: center;
	width: 300px;
	padding: 0.4rem;
	background:#f3f3f3;
	border: 2px;
	border-color: #000;
	border-radius: 5px;
	border-style: solid;
}


/* Outro */
.buttons{
	background-color:#AAA;
	margin-bottom: 5%;
	color:#000;
	font-size: medium;
	font-weight:bolder;
	text-transform:uppercase;/* letra maiúscula*/
	margin-top: 10px;
	padding:3px 5px;
	border:1px solid #000;
	border-radius:8px;	
    transition:all,0.9S;
}
.buttons:hover{
	color:#FFF;
	margin-bottom: 5%;
	text-shadow:3px 3px 4px rgba(200, 200, 200, 1);
	font-size: medium;
	font-weight:bolder;
	padding:3px 5px;
	background:-webkit-gradient(linear, 87% 51%, 87% 75%, from(#00BEFF), to(#0091FF));/* cor com degradê*/
	border-radius:8px;
	transition:all,0.5S;
}

.buttons2{
	background-color:#FFF;
	margin: 1% 2%;
	width: 25rem;
	height: 2rem;
	font-size: medium;
	font-weight:bolder;
	text-align: center;
	text-transform:uppercase;/* letra maiúscula*/
	padding:3px 5px;
	border:1px solid #000;
	border-radius:8px;	
    transition:all,0.9S;
}
.buttons2:hover{
	width: 25rem;
	margin: 2% 3%;
	text-shadow:3px 3px 4px rgba(200, 200, 200, 1);
	font-size: medium;
	font-weight:bolder;
	padding:3px 5px;
	background:-webkit-gradient(linear, 87% 51%, 87% 75%, from(#00BEFF), to(#0091FF));/* cor com degradê*/
	border-radius:8px;
	transition:all,0.5S;
}

.buttonsZ{
	background-color:#AAA;
	margin-bottom: 5%;
	color:#000;
	font-size: medium;
	font-weight:bolder;
	text-transform:uppercase;/* letra maiúscula*/
	margin-top: 10px;
	padding:3px 5px;
	border:1px solid #000;
	border-radius:8px;	
    transition:all,0.9S;
}
.buttonsZ:hover{
	color:#FFF;
	margin-bottom: 5%;
	text-shadow:3px 3px 4px rgba(200, 200, 200, 1);
	font-size: medium;
	font-weight:bolder;
	padding:3px 5px;
	background:-webkit-gradient(linear, 87% 51%, 87% 75%, from(#00BEFF), to(#0091FF));/* cor com degradê*/
	border-radius:8px;
	transition:all,0.5S;
}

.buttons3{
	background-color:#F00;
	margin: 1% 2%;
	width: 25rem;
	height: 2rem;
	color: #FFF;
	font-size: medium;
	font-weight:bolder;
	text-align: center;
	text-transform:uppercase;/* letra maiúscula*/
	padding:3px 5px;
	border:1px solid #000;
	border-radius:8px;	
    transition:all,0.9S;
}

textarea{
	resize: none;
	padding: 1px 3px;
}

img{
	width: 200px;
	height: 150px;
	max-width: 100%;
	display: block;
}

.icone{
	margin-top: 20%;
	background-color: rgba(255, 255, 255, 0.1);
	width: 40px;
	height: 40px;
	border-radius:8px;
}

.mytable{
	background-color: #FFF;
	border-collapse: collapse;
	margin-top: 5%;
	margin-bottom: 5%;
}

.mytd{
	background-color: #FFF;
	border:1px solid #000;
	text-align: left;
	padding: 5px;
}

.myinput{
	background: none;
	vertical-align: top;
	width: 200px;
	font-size: 12pt;
	margin-bottom: 2%;
	border: none;
	border-bottom: 1px solid #000;
	height: 20px;
	outline: none;
}